<div>
    <div>
        <div class="row s-padding">
            <div class="s-padding w-33 center-align">
                <div class="character">
                    <img src="assets/sprites/character1.png">
                </div>
                <div class="label">
                    <input type="radio" value="1" id="1" checked name="character">
                    <label for="1">character1</label>
                </div>
            </div>
            <div class="s-padding w-33 center-align">
                <div class="character">
                    <img src="assets/sprites/character2.png">
                </div>
                <div class="label">
                    <input type="radio" value="2" id="2" name="character">
                    <label for="2">character2</label>
                </div>
            </div>
            <div class="s-padding w-33 center-align">
                <div class="character">
                    <img src="assets/sprites/character3.png">
                </div>
                <div class="label">
                    <input type="radio" value="3" id="3" name="character">
                    <label for="3">character3</label>
                </div>
            </div>
            <div class="s-padding w-33 center-align">
                <div class="character">
                    <img src="assets/sprites/character4.png">
                </div>
                <div class="label">
                    <input type="radio" value="4" id="4" name="character">
                    <label for="4">character4</label>
                </div>
            </div>
            <div class="s-padding w-33 center-align">
                <div class="character">
                    <img src="assets/sprites/character5.png">
                </div>
                <div class="label">
                    <input type="radio" value="5" id="5" name="character">
                    <label for="5">character5</label>
                </div>
            </div>
            <div class="s-padding w-33 center-align">
                <div class="character">
                    <img src="assets/sprites/character6.png">
                </div>
                <div class="label">
                    <input type="radio" value="6" id="6" name="character">
                    <label for="6">character6</label>
                </div>
            </div>
            <div class="s-padding w-33 center-align">
                <div class="character">
                    <img src="assets/sprites/character7.png">
                </div>
                <div class="label">
                    <input type="radio" value="7" id="7" name="character">
                    <label for="7">character7</label>
                </div>
            </div>
            <div class="s-padding w-33 center-align">
                <div class="character">
                    <img src="assets/sprites/character8.png">
                </div>
                <div class="label">
                    <input type="radio" value="8" id="8" name="character">
                    <label for="8">character8</label>
                </div>
            </div>
            <div class="s-padding w-33 center-align">
                <div class="character">
                    <img src="assets/sprites/character9.png">
                </div>
                <div class="label">
                    <input type="radio" value="9" id="9" name="character">
                    <label for="9">character9</label>
                </div>
            </div>
        </div>
        <div class="center-align">
            <input id="password" type="text" class="bordered"/>
            <button id="start" class="bordered">Start</button>
            <p id="error"></p>
        </div>
    </div>
</div>
